<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
	<form method = "POST" action = "/night/ ">
			<div class="form-group col-md-4">
      <label for="inputState">ВЫбор красотки</label>
       <select id="inputState" class="form-control" name=curtizane>
        <option>Не выбрано</option>
        {% for counter in range(0,for_curtizane|length) %}
       
        <option>{{for_curtizane[counter]}}</option>
        
        {% endfor %}
         </select>
    </div>
     <div class="form-group col-md-4">
      <label for="inputState">ВЫбор мафии</label>
       <select id="inputState" class="form-control" name=mafia>
        <option>Не выбрано</option>
        {% for counter in range(0,for_mafia|length) %}
       
        <option>{{for_mafia[counter]}}</option>
        
        {% endfor %}
         </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Выбор маньяка</label>
       <select id="inputState" class="form-control" name=murderer>
        <option>Не выбрано</option>
        {% for counter in range(0,for_murderer|length) %}
       
        <option>{{for_murderer[counter]}}</option>
        
        {% endfor %}
         </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Выбор шерифа</label>
       <select id="inputState" class="form-control" name=police>
        <option>Не выбрано</option>
        {% for counter in range(0,for_police|length) %}
       
        <option>{{for_police[counter]}}</option>
        
        {% endfor %}
         </select>
    </div>
     <div class="form-group col-md-4">
      <label for="inputState">Выбор доктора</label>
       <select id="inputState" class="form-control" name=doctor>
        <option>Не выбрано</option>
        {% for counter in range(0,for_doctor|length) %}
       
        <option>{{for_doctor[counter]}}</option>
        
        {% endfor %}
         </select>
    </div>

     <div>
  	<button type="submit" class ="btn btn-default" > Вперед!</button>
  </div>
	</form>
</html>